{
  "name": "Collection name",
  "author": "Collection Author",
  "beatmaps": [
    { "id": 2499815, "tag": "NM1" },
    { "id": 4571942, "tag": "Tag is optional" },
    { "id": 4173682 },
    { "id": 5137176 },
    { "id": 3306583 },
    { "id": 4693203 },
    { "id": 4383490 },
    { "id": 3028759 },
    { "id": 4262783 },
    { "id": 5137011 },
    { "id": 4321714 },
    { "id": 3839335 }
  ]
}